form {
  @extend article;
  text-align: justify;
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 25%;
    padding-bottom: 5px;
  }
  fieldset {
    font-weight: 400;
    color: dimgray;
    legend {
      letter-spacing: 2px;
      text-shadow: 2px 1px 2px;
    }
  }
  p {
    text-transform: capitalize;
    font-weight: bold;
  }
  div {
    text-transform: capitalize;
  }
  select {
    padding: 10px;
    margin: 10px;
    width: 300px;
  }
}
