footer {
  background-color: $background-f;
  text-align: center;
  font-family: $font-family-f;
  color: black;
  padding: 20px;
  text-shadow: 1px 1px;
  color: white;
  font-weight: 300;
  font-style: oblique;
  letter-spacing: 2px;
  p {
    padding: 15px;
  }
}
