article {
    border: 1px  inset;
    text-indent: 50px;
    margin: 40px;
    padding: 20px;
    line-height: normal;
    border-radius: 5px;
    box-shadow: 0 2px 4px 2px $h-color;
    background-color: $background-b;
    position:relative;
}
