$background-b: #d2d2e0;
$background-s:black;
$background-f: #666699;
$font-family-h: "Ephesis";
$font-family-t:"Montserrat";
$font-family-f:"Amatic+SC";
$color-h1:#1e1e2f;
$font-weight-h1: 700;
$font-weight-h2: 600;
$font-weight-h3: 500; 
$font-weight-p: 300;
$h-color: #602040;
$b-color: white;
$b-background: #666699;
$listcolor-b:#666699;
$listcolor:#ffe6f2; 